<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= task.project_id %>
  </p>


  <%= button_to "Borrar tarea", project_task_path(task.project.id,task.id), method: :delete,class:"btn btn-danger"%>
   
</div>


