<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <% project.errors.each do |error| %>
        <p><%= error.full_message %></p>
      <% end %>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-4">
      <label class="form-label">Nombre de Proyecto *</label>
      <%= form.text_field :title , class:"form-control"%>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12 col-md-9 col-lg-4">
      <label class="form-label">Descripción</label>
      <%= form.text_field :description, class:"form-control" %>
    </div>
  </div>
  <div>
    <%= form.submit 'Crear proyecto', class:"btn btn-secondary" %>
  </div>

<% end %>
