<div id="<%= dom_id project %>">


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title"><%= project.title %></h5>
        <div class="badge text-bg-primary rounded-pill d-flex align-items-center"><%= project.tasks.where("completed",true).length %>/<%= project.tasks.length %></div>
      </div>
       <h6 class="card-subtitle mb-2 text-body-secondary">Fecha de creación: <%= project.created_at.strftime("%d/%m/%Y")%> </h6>
      <p class="card-text"><%= project.description %></p>
      <%= link_to "Ver proyecto", project, class:"card-link" %>
    </div>
  </div>

</div>
