


<div class="form-login card mx-auto">
  <h2 class="card-title text-center">Bienvenido a Task App</h2>
  
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <%= f.email_field :email, class:"form-control" %>
      </div>

      <div class="mb-4">
        <label class="form-label">Contraseña</label>
        <%= f.password_field :password, class:"form-control" %>
      </div>

     

      <div class="d-flex justify-content-center mb-3">
        <%= f.submit "Ingresar",class:"btn btn-primary w-75" %>
      </div>
      

      <div class="login-links d-flex flex-column gap-0">
        <%= render "devise/shared/links" %>
      </div>
      

    
    <% end %>

  </div>
</div>


