
<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">

        <%= link_to "TaskAppðŸ“", root_path, class:"navbar-brand"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "Proyectos", projects_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Nuevo Proyecto", new_project_path, class:"nav-link"%>
                </li>
            
            </ul>
                <div class="d-flex gap-3 align-items-center">
                <% if user_signed_in? %>
                    <i class="fa-solid fa-user user-icon"></i>
                    <p class="welcome-username">Bienvenido <%= current_user.email %></p>
                    <%= button_to "Salir", destroy_user_session_path, method:"delete", class:"btn btn-danger px-3" %>
                <% else %>
                    <%= link_to "Ingresar", new_user_session_path, class:"btn btn-success px-3" %>
                    <%= link_to "Registrarse", new_user_registration_path, class:"btn btn-outline-success px-3" %>
                <% end%>
                </div>
            
        </div>
    </div>
</nav>